DirectoryIndex start.php
RewriteEngine On
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule apple-touch-icon(-precomposed)?.png  start.php?mode=touch [QSA,L]

#RewriteCond %{REQUEST_FILENAME} !-s
#RewriteCond %{REQUEST_FILENAME} !-l

<Files *.dat>
    deny from all
</Files>

